{% extends 'home.html' %}
 
{% block container %}
  <div class="top-pad">
	<form class="form-horizontal" role="form">
		<h2>Add Project</h2>
		
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">Project Name</label>
			<div class="col-sm-9">
				<input type="text" name="name" id="name" placeholder="Project Name" class="form-control" autofocus>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-3">Max. number of participants</label>
			<div class="col-sm-6">
						<input type="number" name="max_cap"id="max_cap" placeholder="Max. No" class="form-control">
			</div>
		</div> <!-- /.form-group -->
		

		<div class="form-group">
			<label for="desc" class="col-sm-3 control-label">Description</label>
			<div class="col-sm-9">
				<textarea name="desc" id="desc" class="form-control" row="6"></textarea>
			</div>
		</div>
		
	  <div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
				<button id="addproject" class="btn btn-primary btn-block" type="button">Add project</button>
			</div>
		</div>
		
	</form> <!-- /form -->

{% endblock %}
