{% extends 'base.html' %}

{% block loggedin %}
    <li><a href="{{ url_for('profile') }}">Profile</a></li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Projects<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('projects') }}">My projects</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('addproject') }}">Add project</a></li>
        </ul>
    </li>
    <li><a href="{{ url_for('searchprofiles') }}">Search Profiles</a></li>
    <li><a href="{{ url_for('searchproject') }}">Search Project</a></li>
    <li><a href="{{ url_for('message') }}">Messages</a></li>
{% endblock %}

{% block navbarright %}

    <li><a href="logout">Log Out</a></li>

{% endblock %}

{% block container %}
    <div class="top-pad">
        <div class="well">
            <h2>
                <a href="{{ url_for('projects') }}">Projects</a>
            </h2>
        </div>
        <div class="well">
            <h2>
                <a href="{{ url_for('searchprofiles') }}">Search Profiles</a>
            </h2>
        </div>
        <div class="well">
            <h2>
                <a href="{{ url_for('searchproject') }}">Search Project</a>
            </h2>
        </div>
    </div>
{% endblock %}
