{% extends 'base.html' %}

{% block loggedin %}
    <li><a href="{{ url_for('profile') }}">Profile</a></li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Projects<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('projects') }}">My projects</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('addproject') }}">Add project</a></li>
        </ul>
    </li>
    <li><a href="{{ url_for('searchprofiles') }}">Search Profiles</a></li>
    <li><a href="{{ url_for('searchproject') }}">Search Project</a></li>
    <li><a href="{{ url_for('message') }}">Messages</a></li>
{% endblock %}

{% block navbarright %}

    <li><a href="logout">Log Out</a></li>

{% endblock %}

{% block container %}
    <div class="container-fluid">
    <div>
        <div class="block-header"><h2></h2></div>
        <div class="card m-b-0" id="messages-main" style="box-shadow:0 0 40px 1px #c9cccd;">
            <div class="ms-menu" style="overflow:scroll; overflow-x: hidden;" id="ms-scrollbar">
                <div class="ms-block">
                    <div class="ms-user"><h5 class="q-title" align="center">
                        Sachin Yadav <br/><b>5</b> New Messages</h5></div>
                </div>
                <div class="listview lv-user m-t-20">
                    {% for room in rooms %}
                    <div class="lv-item media active">
                        <div class="media-body">
                            <div class="lv-title">{{room['name']}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="ms-body">
                <div class="listview lv-message">
                    <div class="lv-header-alt clearfix">
                        <div id="ms-menu-trigger">
                            <div class="line-wrap">
                                <div class="line top"></div>
                                <div class="line center"></div>
                                <div class="line bottom"></div>
                            </div>
                        </div>
                        <div class="lvh-label hidden-xs">
                            <span class="c-black">Ashwani Singh Yadav<span
                                    style=" margin-left:8px; position:absolute; margin-top:12px;width: 8px;height: 8px;line-height: 8px; border-radius: 50%; background-color:#80d3ab;"></span></span>
                        </div>
                    </div>
                    <div class="lv-body" style="overflow:scroll; overflow-x: hidden; height:520px;" id="messageList">
                        {% for msg in history %}
                        <div class="lv-item media">
                            <div class="media-body">
                                <div class="ms-item"><span class="glyphicon glyphicon-triangle-left"
                                                           style="color:#000000;"></span> {{msg['user']}}: {{msg['text']}}
                                </div>
                                <small class="ms-date"><span class="glyphicon glyphicon-time"></span>&nbsp; {{msg['ts']}}
                                </small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="clearfix"></div>
                    <div class="lv-footer ms-reply"><textarea id="message" rows="10" placeholder="Write messages..."></textarea>
                        <button class="" onclick="send()" ><span class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.socket.io/socket.io-1.7.2.js"></script>
<script>
    var socket = io();
    var user = {{user|tojson}};
    var room = {{active_room|tojson}};

    function send(){
        var input = document.getElementById('message');
        var filter = input.value;
        socket.emit('chat_message', user, room, filter);
        var li = document.getElementById('messageList');
        var text = user + ":" + filter;
        var textnode = document.createTextNode(text);
        var node = document.createElement("div");
        node.classList.add('lv-item');
        node.classList.add('media');
        var node2 = document.createElement("div");
        node2.classList.add('media-body');
        var node3 = document.createElement("div");
        node3.classList.add('ms-item');
        node2.appendChild(node3);
        node3.appendChild(textnode);
        node.appendChild(node2);
        li.appendChild(node);
        input.value = "";
    }

    socket.on('message', function(data){

        data = JSON.parse(data);
        if(room = data['room_id']){
            var li = document.getElementById('messageList');
            var text = data['user'] + ":" + data['text'];
            var textnode = document.createTextNode(text);
            var node = document.createElement("div");
            node.classList.add('lv-item');
            node.classList.add('media');
            var node2 = document.createElement("div");
            node2.classList.add('media-body');
            var node3 = document.createElement("div");
            node3.classList.add('ms-item');
            node2.appendChild(node3);
            node3.appendChild(textnode);
            node.appendChild(node2);
            li.appendChild(node);
            input.value = "";
            }
    });



</script>

{% endblock %}
