{% extends 'home.html' %}

{% block container %}
<div class="top-pad">
	<form class="form-horizontal">
		<h2>Update Profile</h2>
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9">
				<input type="text" name="name" id="name" placeholder="Name" value="{{info.name}}" class="form-control" autofocus>
			</div>

			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input type="email" name="email" disabled id="email" placeholder="Email" value="{{info.email}}" class="form-control">
			</div>

			<label for="year" class="col-sm-3 control-label">Year</label>
			<div class="col-sm-9">
				<select id="year"  name="year" class="form-control" value = {{info.Year}}>
					<option selected disabled>Choose here</option>
					<option value="0">Freshmen</option>
					<option value="1">Sophomore</option>
					<option value="2">Junior</option>
					<option value="3">Senior</option>
				</select>
			</div>

			<label for="school" class="col-sm-3 control-label">School</label>
			<div class="col-sm-9">
				<select id="school" name="school" class="form-control" value = {{info.School}}>
					<option selected disabled>Choose here</option>
					<option value="0">UIUC</option>
					<option value="1">other</option>
				</select>
			</div>

			<label class="control-label col-sm-3">GPA</label>
			<div class="col-sm-9">
						<input type="number" name="gpa" step="0.01" id="gpa" placeholder="GPA" value="{{info.GPA}}" class="form-control">
			</div>

			<label class="control-label col-sm-3">Skills</label>
			<div class="col-sm-9">
					<input type="text" name="skill" id="skill" placeholder="Skills" class="form-control">
			</div>

			<div class="col-sm-9 col-sm-offset-3">
				<button id="updatestudentinfo" class="btn btn-primary btn-block">Update</button>

		</div>
	</form> <!-- /form -->
</div> <!-- ./container -->
{% endblock %}
