{% extends 'home.html' %}

{% block container %}

$(document).ready(function(){ /*code here*/ })
<div class="top-pad">

	<form class="form-horizontal">
		<h2>Update Profile</h2>
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9">
				<input type="text" name="name" id="name" placeholder="Name" value="{{info.name}}" class="form-control" autofocus>
			</div>

			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input type="email" name="email" disabled id="email" placeholder="Email" value="{{info.email}}" class="form-control">
			</div>

			<label for="year" class="col-sm-3 control-label">Year</label>
			<div class="col-sm-9">
				<select id="year"  name="year" class="form-control"	>
					<option disabled >Choose here</option>
					<option value="0" >Freshmen</option>
					<option value="1">Sophomore</option>
					<option value="2">Junior</option>
					<option value="3">Senior</option>
				</select>
			</div>

			<label for="school" class="col-sm-3 control-label">School</label>
			<div class="col-sm-9">
				<input type="text" name="school" id="school" placeholder="School" value="{{info.school}}" class="form-control" autofocus>
			</div>

			<label class="control-label col-sm-3">GPA</label>
			<div class="col-sm-9">
						<input type="number" name="gpa" step="0.01" id="gpa" placeholder="GPA" value="{{info.gpa}}" class="form-control">
			</div>

			<label class="control-label col-sm-3">Skills</label>
			<div class="col-sm-9">
					<input type="text" name="skill" id="skill" placeholder="Skills" class="form-control">
			</div>

			<div class="col-sm-9 col-sm-offset-3">
				<button id="updatestudentinfo" class="btn btn-primary btn-block">Update</button>

		</div>
	</form>
	{% for skill in profSkills %}
	<label class="control-label col-sm-3">{{skill['name']}}</label><br>
	<form action="/setSkill?" method="get" id="{{skill['name']}}Form"><span>
		<select id="{{skill['name']}}"  name="level" class="form-control"	>
			<option disabled >Choose here</option>
			<option value="0" >None</option>
			<option value="1">Intro</option>
			<option value="2">Competent</option>
			<option value="3">Proficient</option>
			<option value="4">Expert</option>
		</select>
		<input type="text" value="{{info['email']}}" name="user" style="display:none">
		<input type="text" value="{{skill['id']}}" name="skill" style="display:none">
		<input type="submit" value="Set" />
	</span></form>
     {% endfor %}

<h1>Add Skills</h1>
    <input type ="text" id = "skillSearchInput" onkeyup="searchSkills()" placeholder="Search for skills...">
    <ul id="skillUL">

     {% for skill in skills %}
      <li><a href = "/addSkillPerson?skill={{skill['id']}}&user={{info['email']}}">{{ skill['name'] }}</a></li>
     {% endfor %}
    </ul>
 <form class="form-horizontal" role="form" action="/createSkill" method="get">
     <div class="form-group">
			<label class="control-label col-sm-3">Create a Skill</label>
         <div class="form-group">
			<label for="user" class="col-sm-3 control-label" style="display:none">Project Id</label>
			<div class="col-sm-9">
				<input type="text" name="user" id="user" placeholder="Project Id" class="form-control" autofocus style="display:none" value="{{info['email']}}">
			</div>
		</div>

			<div class="col-sm-6">
						<input type="text" name="skill" id="skills" placeholder="Skill" class="form-control">
			</div>
		</div>
       <input type="submit" value="Create Skill" />
 </form>

	<script>

	function setSelectedIndex(s, v) {
    	for ( var i = 0; i < s.options.length; i++ ) {
        	if ( s.options[i].value == v ) {
            	s.options[i].selected = true;
            	return;
        	}
    	}
	}

	setSelectedIndex(document.getElementById('year'),"{{info.year}}");

	var pskills = {{profSkills|tojson|safe}}



	for(var x = 0; x<2; x++)
	{
		id = pskills[x].name;
		level = pskills[x].level.toString();
		setSelectedIndex(document.getElementById(id),level);
	}


	function searchSkills(){
    var input, filter, ul, li, a, i;
    input = document.getElementById('skillSearchInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById('skillUL');
    li = ul.getElementsByTagName('li');

    for(i = 0 ; i < li.length; i++)
    {
      a = li[i].getElementsByTagName("a")[0];
      if(a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script><!-- /form -->
</div> <!-- ./container -->

{% endblock %}
