{% extends 'home.html' %}

{% block container %}

$(document).ready(function(){ /*code here*/ })
<div class="top-pad">

	<form class="form-horizontal">
		<h2>Update Profile</h2>
			<label for="name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9">
				<input type="text" name="name" id="name" placeholder="Name" value="{{info.name}}" class="form-control" autofocus>
			</div>

			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input type="email" name="email" disabled id="email" placeholder="Email" value="{{info.email}}" class="form-control">
			</div>

			<label for="year" class="col-sm-3 control-label">Year</label>
			<div class="col-sm-9">
				<select id="year"  name="year" class="form-control"	>
					<option disabled >Choose here</option>
					<option value="0" >Freshmen</option>
					<option value="1">Sophomore</option>
					<option value="2">Junior</option>
					<option value="3">Senior</option>
				</select>
			</div>

			<label for="school" class="col-sm-3 control-label">School</label>
			<div class="col-sm-9">
				<input type="text" name="school" id="school" placeholder="School" value="{{info.school}}" class="form-control" autofocus>
			</div>

			<label class="control-label col-sm-3">GPA</label>
			<div class="col-sm-9">
						<input type="number" name="gpa" step="0.01" id="gpa" placeholder="GPA" value="{{info.gpa}}" class="form-control">
			</div>

			<label class="control-label col-sm-3">Skills</label>
			<div class="col-sm-9">
					<input type="text" name="skill" id="skill" placeholder="Skills" class="form-control">
			</div>

			<div class="col-sm-9 col-sm-offset-3">
				<button id="updatestudentinfo" class="btn btn-primary btn-block">Update</button>

		</div>
	</form>
	<script>

	function setSelectedIndex(s, v) {

    for ( var i = 0; i < s.options.length; i++ ) {

        if ( s.options[i].value == v ) {

            s.options[i].selected = true;

            return;

        }

    }

	}

	setSelectedIndex(document.getElementById('year'),"{{info.year}}");

</script><!-- /form -->
</div> <!-- ./container -->

{% endblock %}
