
{% extends 'home.html' %}
 
{% block container %}
  <div class="top-pad">
    <h1>My Projects</h1>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Max. Capacity</th>
        <th>Description</th>
        <th>Status</th>
		<th>Actions</th>
      </tr>
    </thead>
    <tbody>{% for project in info %}
      <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.max_capacity}}</td>
        <td>{{ project.description}}</td>
        <th>{{ project.status}}</th>
        <td><a href="/remove">Remove</a>
        <!-- href="/{{ project. name }}_remove"
        	Could use sth like this to specify a project-->
      </tr>
     {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}