
{% extends 'home.html' %}
 
{% block container %}
  <div class="top-pad">
    <h1>My Projects</h1>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Max. Capacity</th>
        <th>Description</th>
        <th>Status</th>
		<th>Actions</th>
      </tr>
    </thead>
    <tbody>
     {% for project in projects %}
      <tr id="{{ project['id'] }}">
        <td>{{ project['name'] }}</td>
        <td>{{ project['max_cap'] }}</td>
        <td>{{ project['desc'] }}</td>
        <th>{{ project['status'] }}</th>
        <td class="removeProject"><a href="/projects">Remove</a>
        <!-- href="/{{ project. name }}_remove"
        	Could use sth like this to specify a project-->
      </tr>
     {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}