{% extends 'home.html' %}
 
{% block container %}
  <div class="top-pad">
    <h1>Search People</h1>
    <input type ="text" id = "peopleSearchInput" onkeyup="searchpeople()" placeholder="Search for projects...">
    <ul id="peopleUL">

     {% for person in info %}
      <li><a href = "/viewprofile?user={{person['email']}}">{{ person['name'] }}</a></li>
     {% endfor %}
    </ul>
  </div>
<script>
  function searchpeople(){
    var input, filter, ul, li, a, i;
    input = document.getElementById('peopleSearchInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById('peopleUL');
    li = ul.getElementsByTagName('li');

    for(i = 0 ; i < li.length; i++)
    {
      a = li[i].getElementsByTagName("a")[0];
      if(a.innerHTML.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>
{% endblock %}
