{% extends 'home.html' %}
 
{% block container %}
  <div class="top-pad">
    <h1>Search Projects</h1>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Max. Capacity</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>TeamMatcher</td>
        <td>4</td>
        <td>A web application that matches project teams</td>
        <th>On-going</th>
      </tr>
    </tbody>
  </table>
  </div>
{% endblock %}