{% extends 'home.html' %}

{% block container %}
    <div class="top-pad">
        <h1>Search People</h1>
        <input type="radio" name="type" id="nameCheck" value="Name" checked/>Name
        <input type="radio" name="type" id="skillCheck" value="Skill" />Skill
        <input type="text" id="peopleSearchInput" onkeyup="searchpeople()" placeholder="Search for people...">
            <table class="table table-hover" id="peopleUL">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Email</th>
                    <th>School</th>
                </tr>
                </thead>
                <tbody>
                {% for person in info %}
                    <tr>
                        <td><a href="/viewprofile?user={{ person['email'] }}">{{ person['name'] }}</a></td>
                        <td>{{ person['year'] }}</td>
                        <td>{{ person['email'] }}</td>
                        <th>{{ person['school'] }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </ul>
    </div>
    <script>
        peopleSkills = {{peopleSkills|tojson|safe}}

        function searchpeople() {
            var input, filter, ul, li, a, i;
            input = document.getElementById('peopleSearchInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById('peopleUL');
            li = ul.getElementsByTagName('tr');

            type = document.getElementById('nameCheck').checked
            if(type)
            {
                for (i = 1; i < li.length; i++) {
                    a = li[i].getElementsByTagName("td")[0].getElementsByTagName("a")[0];
                    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
            else
            {
                for (i = 1; i < li.length; i++) {
                    if(filter == "")
                    {
                        li[i].style.display = "";
                        continue;
                    }
                    a = li[i].getElementsByTagName("td")[0].getElementsByTagName("a")[0];
                    li[i].style.display = "none";
                    skills = peopleSkills[a.innerHTML];
                    if(skills){
                        skills = [].concat( skills );
                        for(var x = 0; x<skills.length; x++){
                            if (skills[x].toUpperCase().indexOf(filter) > -1) {
                                li[i].style.display = "";
                                break;
                            } else {
                                li[i].style.display = "none";
                            }
                        }
                    }
                }
            }
        }
    </script>
{% endblock %}
