{% extends 'home.html' %}
 
{% block container %}
  <div class="top-pad">
    <h1>Search Projects</h1>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Max. Capacity</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
     {% for project in info %}
      <tr>
        <td>{{ project.name }}</td>
        <td>{{ project.max_capacity}}</td>
        <td>{{ project.description}}</td>
        <th>{{ project.status}}</th>
      </tr>
     {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}