{% extends 'home.html' %}

{% block container %}

    $(document).ready(function(){ /*code here*/ })
    <div class="top-pad">
        <h2>Profile</h2>
        <table class="table" id="peopleUL">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ info.name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ info.email }}</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>
                    <div class="col-sm-9">
                        <select id="year" disabled name="year" class="form-control">
                            <option disabled>Choose here</option>
                            <option value="0">Freshmen</option>
                            <option value="1">Sophomore</option>
                            <option value="2">Junior</option>
                            <option value="3">Senior</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="school" class="col-sm-3 control-label">School</label></td>
                <td>{{ info.school }}</td>
            </tr>
            <tr>
                <td><label class="control-label col-sm-3">GPA</label></td>
                <td>{{ info.gpa }}</td>
            </tr>
            </tbody>
        </table>

        <h2>Skills</h2>
        {% for skill in profSkills %}
            <div class="row">
                <label for="{{ skill['name'] }}Form" class="control-label col-sm-3">{{ skill['name'] }}</label>
                <div class="col-sm-5">
                    <select disabled id="{{ skill['name'] }}" name="level" class="form-control">
                        <option disabled>Choose here</option>
                        <option value="0">None</option>
                        <option value="1">Intro</option>
                        <option value="2">Competent</option>
                        <option value="3">Proficient</option>
                        <option value="4">Expert</option>
                    </select>
                </div>
            </div>
        {% endfor %}

        <h2>{{ info['name'] }}'s Projects</h2>
        <table class="table table-hover" id="UProjectTable">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Max. Capacity</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects_u %}
                <tr>
                    <td>{{ project['name'] }}</td>
                    <td>{{ project['max_cap'] }}</td>
                    <td style="text-overflow:ellipsis;overflow:hidden;width:300px;height:90px;display:inline-block">{{ project['desc'] }}</td>
                    <th>{{ project['status'] }}</th>
                    <!-- href="/{{ project. name }}_remove"
        	Could use sth like this to specify a project-->
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>My Projects</h2>
        <table class="table table-hover" id="ProjectTable">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Max. Capacity</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr id="{{ info['email'] }}:{{ project['id'] }}">
                    <td>{{ project['name'] }}</td>
                    <td>{{ project['max_cap'] }}</td>
                    <td style="text-overflow:ellipsis;overflow:hidden;width:300px;height:90px;display:inline-block">{{ project['desc'] }}</td>
                    <th>{{ project['status'] }}</th>
                    <td class="addToProject"><a href="/addToProject?proj={{ project['id'] }}&user={{ info['email'] }}">Add</a>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

     <form class="form-horizontal" role="form" action="/message" method="get">
         <input type="text" value="{{info['email']}}" id="user" name="user" style="display:none">
         <input type="submit" class="btn btn-primary"value="Start Chat"/>
     </form>

    <script>

        function setSelectedIndex(s, v) {

            for (var i = 0; i < s.options.length; i++) {

                if (s.options[i].value == v) {

                    s.options[i].selected = true;

                    return;

                }

            }

        }

        setSelectedIndex(document.getElementById('year'), "{{info.year}}");


        var pskills =
        {{profSkills|tojson|safe}}


        for (var x = 0; x < pskills.length; x++) {
            id = pskills[x].name;
            level = pskills[x].level.toString();
            setSelectedIndex(document.getElementById(id), level);
        }
    </script><!-- /form -->
    </div> <!-- ./container -->

{% endblock %}
