{% extends 'home.html' %}

{% block container %}
    <div class="top-pad">
        <h2>View Project</h2>
        <table class="table" id="peopleUL">
            <tbody>
            <tr>
                <td><label for="name" class="col-sm-3 control-label">Project Name</label></td>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <td><label class="control-label col-sm-3">Max. number of participants</label></td>
                <td>{{ project.max_cap }}</td>
            </tr>
            <tr>
                <td><label for="desc" class="col-sm-3 control-label">Description</label></td>
                <td>{{ project.desc }}</td>
            </tr>
            </tbody>
        </table>


        <table class="table" id="SkillsTable">
        <thead>
        <tr>
            <th>
                Project Skills
            </th>
        </tr>
        </thead>
            <tbody>
            {% for skill in projSkills %}
                <tr style="width:50px;">
                    <td>{{ skill['name'] }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <label for="ParticipantsTable" class="col-sm-3 control-label">Project Participants</label>
        <table class="table" id="ParticipantsTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            {% for person in people %}
                <tr id="{{ person['id'] }}:{{ project.id }} ">
                <td>{{ person['name'] }}</td>
                <td>{{ person['email'] }}</td>
                <td>{{ person['year'] }}</td>

            {% endfor %}
            </tr>
            </tbody>
        </table>
         <form class="form-horizontal" role="form" action="/message" method="get">
             <input type="text" value="{{project['id']}}" id="project_id" name="project_id" style="display:none">
             <input type="submit" value="Start Chat"/>
         </form>
    </div>
{% endblock %}
